@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #ECAF16;
}

/* Beautique Display Font Faces */
@font-face {
  font-family: "Beautique Display";
  src: url("https://ikaismei.alcomedia.id/fonts/BeautiqueDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beautique Display";
  src: url("https://ikaismei.alcomedia.id/fonts/BeautiqueDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beautique Display";
  src: url("https://ikaismei.alcomedia.id/fonts/BeautiqueDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beautique Display";
  src: url("https://ikaismei.alcomedia.id/fonts/BeautiqueDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beautique Display";
  src: url("https://ikaismei.alcomedia.id/fonts/BeautiqueDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beautique Display";
  src: url("https://ikaismei.alcomedia.id/fonts/BeautiqueDisplay-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Beautique Display";
  src: url("https://ikaismei.alcomedia.id/fonts/BeautiqueDisplay-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.lexend {
  font-family: "Lexend", "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.rubik {
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.beautique {
  font-family: "Beautique Display", "Figtree", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.figtree {
  font-family: "Figtree", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-bg-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
}

@media (min-width: 768px) {
  .welcome-bg-main {
    background-image: url('https://ikaismei.alcomedia.id/images/bg-1_compressed.jpg');
  }
}

@media (max-width: 767px) {
  .welcome-bg-main {
    background-image: url('https://ikaismei.alcomedia.id/images/bg-1_compressed.jpg');
  }
}